{%extends 'main.html' %}
{%load static%}
{%block content%}


<div class="container" style="margin-bottom: 40px;">
  <div class="card mb-3 mt-5 box-element">
      <div class="row g-0">
            <div class="col-md-5">
              <img src="{{product.image.url}}" alt="hi" style="width:555px;height: 555px;">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <center>
                  <h5 class="card-title title__line--6">{{product.name}}</h5>
                 <div class="card-body">
                    <p class="card-text justified">{{product.description}}</p>
                 </div>
                 <br>

                  {%if product.is_sale%}
                    <div class="text-center">
                      <h6><strike>Rs {{product.price}}</strike></h6>
                      <h6>Rs {{product.sale_price}}</h6>
                      
                    </div>
                  {%else%}
                      Rs {{product.price}}
                      <br>

                  {%endif%}

                  In category: {{product.category}}
                    <br><br>
                  <div class="row justify-content-center">
                    <div class="col-md-2">
                      Quantity
                    </div>
                    <div class="col-md-2">
                      <select class="form-select" id="qty-cart">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                    </div>
                  </div>
                  
                  <br>
                  <br>

                  <button type="button" value="{{product.id}}" class="custom-cart-button" id="add-cart">Add to Cart</button>
                  <a class="custom-cart-button" href="{%url 'home' %}">Home</a>
                </center>
              </div>
            </div>
        </div>
      </div>
  </div> 
</div>


<script>
  
 //check if button is pressed
 $(document).on('click','#add-cart',function(e){
    e.preventDefault();
    $.ajax({
        type:'POST',
        url:'{%url "cart_add" %}',
        data:{
            product_id:$('#add-cart').val(),
            product_qty:$('#qty-cart option:selected').text(),
            csrfmiddlewaretoken:'{{csrf_token}}',
            action:'post'
        },

        success:function(json){
          // console.log(json)
          document.getElementById('cart_quantity').textContent=json.qty
          location.reload()
        },

        error:function(xhr,errmsg,err){

        }

    });
    
 })

</script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
      document.querySelectorAll('.card-body h5').forEach(el => {
          el.textContent = el.textContent.replace(/_/g, ' ');
      });
  });
</script>

{%endblock content%}